@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  margin: 0;
  font-family: Arial, sans-serif;
  height:1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 3;
  padding: 1rem 2rem;
  color: white;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header .nav a {
  margin-left: 1rem;
  margin-right:1rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.header .nav a:hover {
  text-decoration: underline;
}

.header .nav input  {
  border-radius:5px;
  height:1.7rem;
}

.header-bar{
  display:flex;
  background-color: #1a1a2e;
  position: fixed;
  font-family:"Roboto" ;
  z-index: 1000;
  width:100%;
}
.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin: 10px;
  margin-top:1.4rem;
}

.hamburger .line {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

.local-container {
  display: flex;
  min-height: 100%;
}

.side-panel{
  width:0px;
  transition: 0.2s ease-in-out all;
  height:100vh;
}
.side-panel.active {
  width: 250px;
  background-color: #16213e;
  color: white;
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
  
}

.side-panel h3 {
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
}

.side-panel ul {
  margin-top:1.5rem;
  list-style: none;
  width: 100%;
  padding: 0;
  gap:1.5rem;
  font-size: 1.5rem;
}

.side-panel ul li {
  margin: 1rem 0;
  text-align: left;
  height:2.5rem;

}
.side-panel ul li:hover{
  background-color: white;
  
}

.side-panel ul li a {
  color: #dcdde1;
  text-decoration: none;
}

.side-panel ul li a:hover {
  color:black;
}

.main-content {
  flex-grow: 1;
  background-color: #eaeaea;
  height:100vh;
  position: relative;
}
img{
  width:100%;
  height:100%;
}

.main-content h1 {
  color: #1a1a2e;
}

.main-content button {
  padding: 0.5rem 1rem;
  background-color: #16213e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.main-content button:hover {
  background-color: #1a1a2ecc;
}

#main-content-text{
  position: absolute;
  top:20rem;
  left: 7rem;
}
input[type="search"]{
  background: url('https://img.icons8.com/?size=100&id=82712&format=png&color=111111') no-repeat right;
  background-size: 20px 20px;
  filter:invert(1);
  border:solid white 1px;
}

#h1{
  margin-top: 5rem;
  font-size: 30px;

}

.btn{
  background-color: #16213e !important;
  border-color:#16213e !important ;
}